body {
  margin: 0;
  font-family: Arial;
  background: #0b1220;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 1rem;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

input {
  width: 90%;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 0.5rem;
  background: #22c55e;
  border: none;
  margin-top: 0.5rem;
}

@media (min-width: 700px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1000px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
}